/*Estilos Generales.*/
body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;  /* Centra horizontalmente */
      align-items: center;      /* Centra verticalmente */
      background-color: #f0f0f0;
      flex-direction: column;
    }

/*Cabecera Y Barra De Navegación.*/
header {
  width: 100%;
  background-color: #e91e63; /* ejemplo de color */
  padding: 20px 0; /* solo arriba y abajo, no afecta el ancho */
  text-align: center;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}